@font-face {
  font-family: "ManropeBold";
  src: local("ManropeBold"),
    url("./fonts/Manrope/static/Manrope-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "ManropeExtraBold";
  src: local("ManropeExtraBold"),
    url("./fonts/Manrope/static/Manrope-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "ManropeExtraLight";
  src: local("ManropeExtraLight"),
    url("./fonts/Manrope/static/Manrope-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "ManropeLight";
  src: local("ManropeLight"),
    url("./fonts/Manrope/static/Manrope-Light.ttf") format("truetype");
}

@font-face {
  font-family: "ManropeMedium";
  src: local("ManropeMedium"),
    url("./fonts/Manrope/static/Manrope-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "ManropeRegular";
  src: local("ManropeRegular"),
    url("./fonts/Manrope/static/Manrope-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ManropeSemiBold";
  src: local("ManropeSemiBold"),
    url("./fonts/Manrope/static/Manrope-SemiBold.ttf") format("truetype");
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  font-family: "ManropeBold";
  font-size: 45px;
  line-height: 61px;
}

.button_text {
  font-family: "ManropeMedium";
  font-size: 16px;
}