.Main {
  background-image: url("image/main_image.png");
  background-repeat: no-repeat;
  background-position: top right;
  padding: 71px 0 144px 0;
  background-size: 55%;
}

.Main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Main_nav_item {
  color: #fff;
  text-decoration: none;
  margin-right: 25px;
}

.Main_title {
  margin-top: 171px;
  margin-bottom: 200px;
}


.Main_button {}