@import "variables.css";

@font-face {
  font-family: "PT-Root-UI";
  src: local("PT-Root-UI"), local("PT-Root-UI"),
    url("../fonts/PTRootUI.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT-Root-UI";
  src: local("PT-Root-UI"), local("PT-Root-UI"),
    url("../fonts/PTRootUI-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PT-Root-UI";
  src: local("PT-Root-UI"), local("PT-Root-UI"),
    url("../fonts/PTRootUI-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Wremena";
  src: local("Wremena"), local("Wremena"),
    url("../fonts/Wremena-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
html,
body {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Arsenal", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  color: #fff;
  @apply min-h-screen-safe md:min-h-fit;
}

.overflow {
  overflow-y: hidden;
}

.text-h1,
.text-h2,
.text-h3,
.text-h4,
.font-familyBold {
  font-family: "Arsenal", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
}
/* swiper */
.swiper-wrapper, .swiper, .swiper-slide {
  width: 100%;
}

.swiper-pagination-bullets.swiper-pagination {
  width: 384px !important;
  left: 422px !important;
}
.swiper-pagination {
  position: absolute;
  top: 60px !important;
  bottom: unset !important;
  text-align: start !important;
  display: flex !important;
  height: fit-content;
}
.swiper-pagination-bullet {
  width: 100% !important;
  height: 4px !important;
  border-radius: unset !important;
  opacity: 0.3199999928474426 !important;
  background: var(--colors-text-base, #FFF) !important;
}
.swiper-pagination-bullet-active {
  background: #fff !important;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 8px 0 0 !important;
}

.banner__arrows {
  display: flex;
  align-items: center;
  position: absolute;
  top: 44px;
  right: 72px;
  z-index: 40;
}
.custom-arrow {
  border-radius: 44px; 
  background: var(--material-opacity-17, rgba(255, 255, 255, 0.17));
  backdrop-filter: blur(8px); 
  padding: 8px;
  cursor: pointer;
}

.next-arrow {
  border-radius: 44px;
  border: 1px solid var(--colors-line-base, #D4D3D2);
  background: var(--colors-background-contrast, #000);
  
  width: fit-content;
  cursor: pointer;
}

.banner-slider .swiper-slide .next-arrow{
  transition: all .3s ease-in-out;
  animation: shake 3s infinite;
}

@keyframes shake {
  0% { transform: translateX(0); }
  50% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}
/*  */

.firts__link {
  padding-bottom: 16px;
}
.last__link {
  padding-top: 16px;
  padding-bottom: 16px;
}
.firts__link::before, .last__link::before {
  content: "";
  position: absolute;
  left: 0;
  background: rgba(255, 255, 255, 0.30);
  height: 1px;
  width: 284px;
}
.firts__link::before{
  bottom: 0;
} 
.last__link::before {
  top: 0;
}

.menu-link-block {
  @apply min-w-[20px];
  &.active {
    opacity: unset;
    position: relative;
  }

  &.active::before,
  &:hover::before,
  &:focus-visible::before {
    content: "";
    display: block;
    width: 5px;
    height: 24px;
    background: var(--color-surface);
    @apply md:opacity-100;
  }
  &::before {
    content: "";
    display: block;
    top: 0;
    width: 5px;
    height: 24px;
    background: var(--color-gray-light);
    @apply md:opacity-0 transition-opacity duration-300;
  }
}
.select {
  background-position: 99.8% center;
}
.activeCity svg g {
  opacity: 1;
}

/* .mobile__banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%);
} */
@media (max-width: 900px) {
  .swiper-pagination-bullets.swiper-pagination {
    width: 288px !important;
    left: 16px !important;
  }
  .banner__arrows {
    display: none;
  }
  .sidebar {
    left: 20px;
    width: 0px;
    display: none !important;
  }
  .sidebar::before,
  .sidebar::after,
  .sidebar .menubtn {
    display: none;
  }
  .sidebar__links {
    left: 20px;
  }
  .sidebar__links li {
    width: 4px;
    height: 20px;
    /* overflow: hidden; */
    opacity: 0.3199999928474426;
    background: var(--colors-background-contrast, #fff);
  }
  .sidebar__links li.active {
    opacity: unset;
  }
  .sidebar__links li::before {
    display: none;
    opacity: 0;
  }

  .sidebar__links li a {
    width: 24px;
    height: 24px;
    display: block;
    opacity: 0;
    overflow: hidden;
  }

  .mobile__banner {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .mainPopupMobile {
    width: 100%;
    top: unset !important;
    bottom: 0;
  }

  .mobileBtn {
    display: none;
  }
}

.scroller > div {
  @apply py-safe my-safe;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--color-gray);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--color-gray);
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.snap-parent-y-mandatory {
  scroll-snap-points-y: repeat(600px);
  scroll-snap-type: y mandatory;
}

.snap-parent-y-proximity {
  scroll-snap-type: y proximity;
}

.snap-child-start {
  z-index: 10;
  scroll-snap-align: start;
  flex: none;
}

.snap-child-center {
  z-index: 2;
  perspective: 500px;
  scroll-snap-align: center;
  flex: none;
}
